.column-2a td 
{
    padding: .75em;
}
.column-2a 
{
    width: 45%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom:60px;
    border-radius: 3em;
    height:auto;    
    background:linear-gradient(100deg, #ee7752, #e73c7e, #0a79a1, #23d5ab);
    font-family: 'Pacifico', cursive;
    display: block;    
} 

/* this would help to keep both tables centered*/
.table1 , .column-2a
{
    margin: 30px auto;
}
caption 
{
    background: linear-gradient(26deg, #e73c7e, #0a79a1, #ee7752, #23d5ab);
    font-size: xx-large;
    border-radius: 4em;
    text-align: center;
    color:aliceblue;
    padding: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.table2
{  
    padding-left:70px;
    padding-right: 70px;   
    border-radius: 3em;
    height:auto;    
    background-image:url("../image/coding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-family: 'Pacifico', Arial, Helvetica, cursive;
    display: block;      
}
.table2 td, th
{
    padding: 1em;
    background: linear-gradient(26deg, #e73c7e, #0a79a1, #ee7752, #23d5ab);
    border-radius: 4em;
}   

thead
{
    font-size: large;
    text-decoration: underline;
}
tbody
{
    font-size: medium;
    font-weight: 100;
}
tfoot
{
    float: left;
    font-size: small;
}
tfoot:hover
{
    color: black;
}
thead:hover 
{
    color: black;
    font-style: italic;
}